#ewsLinkWrapper {
    cursor: pointer;
    margin-right: 4px;
}

#ewsPanel {
    display: none;
    z-index: 2000;
    background-color: #232323;
}

#ewsWorldMap {
  height: 400px;
}

.jvectormap-tip {
  z-index: 2005;
}

#ewsChartWrapper {
  width: 100%;
}

#ewsChartFixedWrapper {
  height: 230px;
  width: 460px;
  text-align: right;
  margin-left: auto;
}

#ewsChartCenterLabel {
  bottom: 150px;
  text-align: center;
  margin-left: auto;
  width: 120px;
  position: absolute;
  margin-right: 95px;
  top: 525px;
  right: 18px;
}

#ewsChartCenterLabel span {
    font-size: 2em;
}

.ews-dialog {
    background: rgba(27,27,27,1);
    border: 1px solid #0cf;
    border-radius: 6px;
    z-index: 1700;
    font-size: 10pt;
    color: #eee;
}

.ews-dialog a.ews-close-window {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 100
}

.ews-dialog .ewsPanelHeader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px;
    height: 30px;
    overflow: hidden
}

.ews-dialog .ewsPanelContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    padding: 10px;
    overflow: auto;
    border-top: 1px solid #333
}

.ews-dialog button {
    font-size: 10pt;
    padding: 2px 6px
}

.sc-history-remove-button {
    color: #d93f3f;
}

.ews-dialog .ews-table {
    background: 0 0
}

.ews-dialog .ui-dialog-title {
    font-size: 1.5em;
    font-weight: bold;
}

.ui-dialog-titlebar-close {
    background-image: url(close.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    vertical-align: middle; /* align the text vertically centered */
}

.ui-dialog-titlebar-close:focus {
    outline: none !important;
}

.ui-widget-overlay {
    background-color: black;
    opacity: 0.3
}

.ewsNavButtonGroup,
.profileNavButtonGroup,
.ewsProfileHistoryButtonGroup {
    text-align: center;
    margin-bottom: 7px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ewsProfileHistoryButtonGroup {
    width: 370px;
}

.ewsNavButtonGroup div,
.profileNavButtonGroup div,
.ewsProfileHistoryButtonGroup div {
    margin-left: 7px;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.ewsNavButtonGroup div:first-child {
    margin-left: 0;
}

.ewsNavButton,
.profileNavButton,
.ewsProfileHistoryButton {
    cursor: pointer;
    border: 1px solid rgba(60,60,60,.83);
    padding: 7px;
    border-radius: 2px;
    font-size: 13px;
    color: #e4e1e1;
    letter-spacing: .5px;
    font-weight: 400;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    transition: background-color .1s ease-in-out,border-color .1s ease-in-out,color .1s ease-in-out;
    width: 100%;
}

.ewsNavButton:hover,
.profileNavButton:hover,
.ewsProfileHistoryButton:hover {
    background-color:hsla(0,0%,100%,.11);
}

.ewsNavButton:active,
.profileNavButton:active,
.ewsProfileHistoryButton:active {
    background-color:hsla(0,0%,100%,.07);
}

.ewsNavButton.selected,
.profileNavButton.selected,
.ewsProfileHistoryButton.selected {
    background-color: rgba(54,121,165,.8);
}

#ewsChartLegend {
    position: absolute;
    top: 450px;
    width: 220px;
}

#ewsChartLegend ul {
    list-style-type: none;
    color: #656565;
    font-size: 12px;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#ewsChartLegend li {
    text-align: left;
}

#ewsChartLegend div {
    display: inline-block;
    width: 40px;
    margin-right: 7px;
    margin-bottom: 10px;
    height: 12px;
}

.ewsRankingRowNormal > td:nth-child(3) {
    width: 130px;
    white-space: nowrap;
}

.ewsRankingRowNormal > td:nth-child(4) {
    text-align: right;
}

.jvectormap-tip {
    background-color: rgba(0, 0, 0, 0.9);
}

.jvectormap-tip table {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.jvectormap-tip img {
    margin-right: 3px;
}

.jvectormap-tip td:nth-child(1) {
    width: 130px;
}

.jvectormap-tip td:nth-child(2) {
    text-align: right;
}

.jvectormap-tip tr:nth-child(odd) {
    background-color: #333;
}

.ews-world-map-tooltip-empty-row {
    color: gray;
    font-style: italic;
}

#ewsAvg {
    text-align: center;
    vertical-align: middle;
    padding: 30px;
}

#ewsAvg span {
    font-size: 1.6em;
}

.ewsCountryNameWrapper {
    width: 115px;
    max-width: 115px;
    overflow: hidden;
    white-space: nowrap;
}

#ewsLoader {
    display: inline-block;
    margin-left: 10px;
}

#ewsCustomTimeRangeSelectionDialog {
    display: none;
}

.ews-custom-time-range-selection-dialog {
    background-color: rgba(27,27,27,1);
    color: #eee;
    font-size: 10pt;
    font-family: Open Sans,sans-serif;
}

.ews-week-row-higlighting:hover {
    background-color: gray;
}

.datepick-popup {
    z-index: 1800 !important;
}

.datepicker-day,
.datepicker-week,
.datepicker-month {
    /* */
}

/* ACCURACY CHART */

#accuracy-chart {
    width: 230px;
    height: 100%;
    float: right;
    overflow: hidden;
}

#accuracy-chart-updated {
    width: 300px;
    height: 100%;
    float: right;
    overflow: hidden;
}

#accuracy-bars-wrapper {
    display: inline;
}

.accuracy-bar-cover,
.accuracy-bar-cover-2 {
    position: absolute;
    width: 15px;
    margin-right: 1px;
    display: inline-block;
    height: 100%;
    background-color: transparent;
    top: 0;
    z-index: 1;
}

.accuracy-bar-cover-2 {
    border: 1px solid #1e1e1e;
    margin: 0 -1px;
    z-index: 1;
    height: 43px;
    top: auto;
}

.accuracy-bar-cover-2-highlighted {
    border: 1px solid yellow;
    z-index: 2;
}

.accuracy-bar-cover:hover,
.accuracy-bar-cover-2:hover {
    background-color: white;
    opacity: 0.2;
}

.accuracy-bar, .accuracy-bar-2 {
    background-color: green;
    width: 15px;
    height: 100%;
    display: inline-block;
    margin-right: 1px;
    opacity: 0.7; /* to dim colors a little */
}

.accuracy-bar-2 {
    max-height: 44px;
}

#accuracy-bar-atlas {
    display: inline-block;
    min-height: 100%;
    height: 100%;
}

#accuracy-block {
    position: relative;
    top: -50px;
    left: 185px;
    width: 50px;
    height: 45px;
}

#accuracy-block-updated {
    position: relative;
    top: -50px;
    left: 235px;
    width: 50px;
    height: 45px;
}

#accuracy-value {
    font-size: 10pt;
    color: #e4e1e1;
    padding-top: 7px;
    text-align: center;
}

.accuracy-weight-stripe-cell,
.accu-wt-lbl-cell {
    background-color: red;
    height: 10px;
    width: 10px;
    min-height: 10px;
    display: inline-block;
    margin-right: 1px;
}

/* all 4 obsolete */
.accu-wt-1 {
    background-color: red;
}

.accu-wt-2 {
    background-color: orange;
}

.accu-wt-3 {
    background-color: yellow;
}

.accu-wt-4 {
    background-color: green;
}

#accu-floating-label,
#weight-floating-label { /* obsolete */
    color: white;
    font-size: 10pt;
    position: relative;
    display: none;
    width: 230px;
    height: 160px;
    top: 25px;
    background-color: #1B1B1B;
    border: 1px solid #555;
    z-index: 111;
}
/* obsolete */
#weight-floating-label {
    width: 200px;
    height: 120px;
}

#accu-floating-label td:nth-child(1) {
    color: gray;
}

#accuracy-container {
    position: absolute;
    height: 44px;
    width: 265px;
    top: 0;
    right: 242px;
    z-index: 101;
}

#more-less-button {
    display: inline-block;
    position: relative;
    float: left;
    top: 20px;
    min-height: 1px;
    color: #6688CC;
    font-size: 10pt;
    cursor: pointer;
    width: 45px;
}

#weight-wrapper {
    display: inline-block;
    position: relative;
    float: right;
    margin-left: auto;
    margin-right: 0;
    min-height: 1px;
}

#accuracy-bars-wrapper-2 {
    display: inline-block;
    width: 161px;
    height: 44px;
    min-height: 1px;
    background-color: #1e1e1e;
    overflow: hidden;
    font-size: 1px;
    padding-left: 2px;
}

.separator-line {
    height: 20px;
    width: 160px;
    background: url(line_with_arrow.svg) no-repeat 0;
}

.hideable-bar {
    display: none;
}

.accu-refresh-progress-bar {
    background-color: #000000;
    width: 160px;
    height: 3px;
    color: #00FF00;
}

.accu-refresh-progress-bar::-webkit-progress-bar,
.accu-refresh-progress-bar::-moz-progress-bar {
    background-color: #000000;
}

.accu-refresh-progress-bar::-webkit-progress-value {
    background-color: #00FF00 !important;
}

.accu-refresh-progress-bar-refreshing {
    color: #0000FF;
}

.accu-refresh-progress-bar-refreshing::-webkit-progress-value {
    background-color: #0000FF !important;
}

#ewsSCHistory {
    overflow-y: auto;
    max-height: 800px;
}

#ewsSCHistoryWrapper th {
    text-align: left;
    padding-right: 10px;
}

#ewsSCHistoryWrapper tr:hover {
    background-color: #333;
}

#ewsSCHistoryWrapper tr td:nth-child(1) { /* # of SCs */
    text-align: right;
    padding-right: 10px;
    width: 70px;
}

#ewsSCHistoryWrapper tr td:nth-child(2) { /* cell name */
    padding-right: 15px;
    cursor: pointer;
    min-width: 210px;
}

#ewsSCHistoryWrapper tr td:nth-child(3) { /* Cell ID */
    text-align: right;
    padding-right: 10px;
    width: 60px;
}

#ewsSCHistoryWrapper tr td:nth-child(4) { /* timestamp */
    width: 170px;
}

#ewsSCHistoryWrapper tr td:nth-child(6) { /* sc-info results */
    text-align: right;
    width: 150px;
}

#ewsSCHHistoryWrapper tr td:nth-child(7) { /* status */
    width: 80px;
}

#ewsSCHistoryWrapper button {
    margin-right 10px;
}

.SCHistory-50 {
    color: yellow;
}

.SCHistory-100 {
    color: #00FF00;
}

#sc-history-popup {
    width: 305px;
    height: 55px;
    color: #e4e1e1;
    background-color: rgba(27,27,27,1);
    border: 1px solid #565656;
    font-size: 10pt;
    position: absolute;
    display: none;
    z-index: 1701;
}

#sc-history-popup span {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    width: 285px;
}

#sc-history-popup span:hover {
    background-color: #333;
}

hr {
    border-color: #555;
}

.sc-history-top-menu {
    display: inline-block;
}

#sc-history-top-menu-input-wrapper {
    display: inline-block;
    float: right;
}

#sc-history-top-menu-input-wrapper input {
    width: 50px;
}


.custom-highlight button {
    color: #e4e1e1;
    border-color: #434343;
}

.custom-unhighlight button {
    color: ##FFA500;
    border-color ##FFA500;
}

#ews-custom-highlight-color-label {
    padding: 10px;
}

#ews-custom-highlight-color {
    width: 40px;
    height: 15px;
    display: inline-block;
    float: right;
    margin-right: 10px;
    border: 1px solid #e4e1e1;
}

.ews-accu-popup-asterisk {
    font-size: 8pt;
    text-align: right;
}

#ewsCustomHighlightedCells {
    overflow-y: auto;
    max-height: 800px;
}

#ewsCustomHighlightedCellsWrapper th {
    text-align: left;
    padding-right: 10px;
}

#ewsCustomHighlightedCellsWrapper tr:hover {
    background-color: #333;
}

#ewsCustomHighlightedCellsWrapper tr td:nth-child(1) {
    text-align: right;
    padding-right: 10px;
}

#ewsCustomHighlightedCellsWrapper tr td:nth-child(2) {
    padding-right: 15px;
    cursor: pointer;
    min-width: 210px;
}

#ewsCustomHighlightedCellsWrapper tr td:nth-child(3) {
    width: 60px;
}

#ewsCustomHighlightedCellsWrapper tr td:nth-child(4) {
    width: 170px;
}

#ewsCustomHighlightedCellsWrapper button {
    color: #d93f3f;
}

#ews-sc-history-period-selection,
#ews-sc-history-dataset-selection,
#ews-custom-highlight-period-selection,
#ews-custom-highlight-dataset-selection {
    display: inline-block;
    width: 50%;
    float: left;
}

#ews-sc-history-period-selection .ewsNavButton,
#ews-sc-history-dataset-selection .ewsNavButton,
#ews-custom-highlight-period-selection .ewsNavButton,
#ews-custom-highlight-dataset-selection .ewsNavButton {
    display: inline-block;
    width: auto;
}

.own-profile {
    height: 660px !important;
}

.own-profile #performanceBadges {
    overflow-y: auto;
    height: 535px;
}

.own-profile #profProfile {
    height: 590px;
}

.own-profile #lastChartsWrapper {
    display: inline-block;
    margin-top: 30px;
}

.own-profile #ewsProfileHistoryChart {
    display: inline-block;
    width: 800px;
    height: 200px;
}

#profileTimeRangeSelection,
#ews-profile-history-period-selection,
#lastChartsWrapper {
    display: none;
}

.own-profile #profileTimeRangeSelection,
.own-profile #ews-profile-history-period-selection {
    display: flex;
}

.own-profile #lastChartsWrapper {
    display: block;
}

#profStatsAbout {
    display: none;
}

#ewsWorldMap {
    position: relative;
    left: -1000px;
    top: -1000px;
    transform: translateX(-50%);
}
