#ewsLinkWrapper {
  cursor: pointer;
  margin-right: 4px;
}

#ewsPanel {
  display: none;
  z-index: 2000;
  background-color: #232323;
  height: 668px !important;
  max-height: 668px !important;
  padding: .5em 0.2em;
  overflow: hidden;
}

#ewsWorldMap {
  height: 350px;
}

.jvectormap-tip {
  z-index: 2005;
}

#ewsChartWrapper {
  width: 100%;
}

#ewsChartFixedWrapper {
  height: 230px;
  width: 460px;
  text-align: right;
  margin-left: auto;
}

#ewsChartCenterLabel {
  bottom: 150px;
  text-align: center;
  margin-left: auto;
  width: 135px;
  position: absolute;
  margin-right: 85px;
  top: 475px;
  right: 9px;
}

#ewsChartCenterLabel span {
  font-size: 2em;
}

.ews-dialog {
  background: rgba(27, 27, 27, 1);
  border: 1px solid #0cf;
  border-radius: 6px;
  z-index: 1700;
  font-size: 10pt;
  color: #eee;
}

.ews-dialog a.ews-close-window {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
}

.ews-dialog .ewsPanelHeader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px;
  height: 30px;
  overflow: hidden;
}

.ews-dialog .ewsPanelContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  padding: 10px;
  overflow: auto;
  border-top: 1px solid #333;
}

.ews-dialog button {
  font-size: 10pt;
  padding: 2px 6px;
}

.sc-history-remove-button {
  color: #d93f3f;
}

.ews-dialog .ews-table {
  background: 0 0;
}

.ews-dialog .ui-dialog-title {
  font-size: 1.5em;
  font-weight: bold;
}

.ui-dialog-titlebar-close {
  background-image: url(close.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  height: 16px;
  vertical-align: middle;
}

.ui-dialog-titlebar-close:focus {
  outline: none !important;
}

.ui-widget-overlay {
  background-color: black;
  opacity: 0.3;
}

.ewsNavButtonGroup,
.profileNavButtonGroup,
.ewsProfileHistoryButtonGroup {
  text-align: center;
  margin-bottom: 7px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ewsProfileHistoryButtonGroup {
  width: 370px;
}

.ewsNavButtonGroup div,
.profileNavButtonGroup div,
.ewsProfileHistoryButtonGroup div {
  margin-left: 7px;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.ewsNavButtonGroup div:first-child {
  margin-left: 0;
}

.ewsNavButton,
.profileNavButton,
.ewsProfileHistoryButton {
  cursor: pointer;
  border: 1px solid rgba(60, 60, 60, .83);
  padding: 7px;
  border-radius: 2px;
  font-size: 13px;
  color: #e4e1e1;
  letter-spacing: .5px;
  font-weight: 400;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  transition: background-color .1s ease-in-out,border-color .1s ease-in-out,color .1s ease-in-out;
  width: 100%;
}

.ewsNavButton:hover,
.profileNavButton:hover,
.ewsProfileHistoryButton:hover {
  background-color:hsla(0, 0%, 100%, .11);
}

.ewsNavButton:active,
.profileNavButton:active,
.ewsProfileHistoryButton:active {
  background-color:hsla(0, 0%, 100%, .07);
}

.ewsNavButton.selected,
.profileNavButton.selected,
.ewsProfileHistoryButton.selected {
  background-color: rgba(54, 121, 165, .8);
}

#ewsChartLegend {
  position: absolute;
  top: 400px;
  width: 220px;
}

#ewsChartLegend ul {
  list-style-type: none;
  color: #656565;
  font-size: 12px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#ewsChartLegend li {
    text-align: left;
}

#ewsChartLegend div {
  display: inline-block;
  width: 40px;
  margin-right: 7px;
  margin-bottom: 10px;
  height: 12px;
}

.ewsRankingRowNormal > td:nth-child(3) {
  width: 130px;
  white-space: nowrap;
}

.ewsRankingRowNormal > td:nth-child(4) {
  text-align: right;
}

.jvectormap-tip {
  background-color: rgba(0, 0, 0, 0.9);
}

.jvectormap-tip table {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.jvectormap-tip img {
  margin-right: 3px;
}

.jvectormap-tip td:nth-child(1) {
  width: 130px;
}

.jvectormap-tip td:nth-child(2) {
  text-align: right;
}

.jvectormap-tip tr:nth-child(odd) {
  background-color: #333;
}

.ews-world-map-tooltip-empty-row {
  color: gray;
  font-style: italic;
}

#ewsAvg {
  text-align: center;
  vertical-align: middle;
  padding: 30px;
}

#ewsAvg span {
  font-size: 1.6em;
}

.ewsCountryNameWrapper {
  width: 115px;
  max-width: 115px;
  overflow: hidden;
  white-space: nowrap;
}

#ewsLoader {
  display: inline-block;
  margin-left: 10px;
}

#ewsCustomTimeRangeSelectionDialog {
  display: none;
}

.ews-custom-time-range-selection-dialog {
  background-color: rgba(27, 27, 27, 1);
  color: #eee;
  font-size: 10pt;
  font-family: 'Open Sans', sans-serif;
}

#ewsWorldMap {
  position: relative;
  left: -1000px;
  top: -1000px;
  transform: translateX(-50%);
}

#ewsTop100List_wrapper {
  width: 100%;
  height: 586px;
}

#ewsTop100List {
  font-size: 11px;
  margin: auto;
}

#ewsTop100List th {
  text-align: center;
}

#ewsTop100List tr {
  vertical-align: top;
}

#ewsTop100List div {
  height: 580px;
  overflow-y: auto;
}

#ewsTop100List th {
  background-color: #444;
  position: sticky;
  top: 0;
}
/*
#ewsTop100List table {
  border-spacing: 1px 0;
}
*/
#ewsTop100List table tr td:nth-child(4) {
  text-align: right;
}

.statsUsername {
  cursor: pointer;
}